<?xml version="1.0"?>
<launch>
    <!-- Run the fast_image_rectifier_node for the near camera -->
    <arg name="name_space" default="near_camera" />
    <arg name="camera_info_url" default="file://${ROS_HOME}/camera_info/acA800_510um_22013423_400_300_46mm.yaml" />

    <group ns="$(arg name_space)">
        <!-- Run the fast_image_rectifier_node -->
        <node name="fast_image_rectifier_node" pkg="fast_image_rectifier" type="fast_image_rectifier_node" output="screen">
            <!-- The path to the camera_info file -->
            <param name="camera_info_url" value="$(arg camera_info_url)" />
        </node>
    </group>
</launch>
